@charset "utf-8";

.course {
    display: flex;
    height: 100vh;
    padding: 100px 0;
    width: 70%;
    margin: 0 auto;

}
.course-image {
    width: 50%;
    height: 50%;
}
.course-textbox {
    width: 50%;
}
