@charset "utf-8";

/* === すべて共通 === */
html, body{
font-size: 16px;
font-family: sans-serif;
color: #393939;
background: #fff;
height: 100%;
display: flex;
flex-direction: column;
}

article {
  flex: 1;
}

body, div, p, h1, h2, h3, h4, ul, figure {
margin: 0;
padding: 0;
}

p, td, th, li {
line-height: 1.8;
}

img{
width: 100%;
height: auto;
}

a{
color: #709a00;
}

a:hover{
color: #efefef;
}

a:active{
color: #4b6700;
}

.img-responsive{
display: block;
max-width: 100%;
height:auto;
}

.img-works {
  display: block;
  max-width: 100%;
  height: 600px;
  object-fit: cover;
}

.img-works2 {
  display: block;
  max-width: 100%;
  height: auto;
}

.works-visual {
  position: relative;
  top: 50%;
}

.works-visual .back {
  z-index: 0;
}

.works-visual .front {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container{
margin: 0 auto;
padding-left: 10px;
padding-right: 10px;
max-width: 1000px;
}

@media screen and (min-width: 890px){
.container{
padding-left: 20px;
padding-right: 20px;
}
}

/* === ヘッダー === */
header{
background: #ffffff;
}
.header-inner{
display: flex;
justify-content: space-between;
align-items: center;
}
.header-logo{
padding: 10px 0;
width: 220px;
height: auto;
}
.menu-btn{
padding: 10px 0;
border: none;
border-radius: 4px;
width: 40px;
height: 40px;
background: url(../img/hamburger.png)no-repeat center center;
background-size:contain;
}

@media screen and (min-width: 890px){
.menu-btn{
display: none;
}
}
/* === ナビゲーション === */
nav{
background: #ffffff;
padding: auto;
}
.navbar{
display: none;
list-style-type: none;
margin: 0;
}
.navbar a{
display: block;
padding: 0.6rem 0;
color: #000;
font-weight: bold;
text-decoration: none;
}
.navbar li a::after {
  border-bottom: solid 2px #004F7C;
  bottom:0;
  content: "";
  display: block;
  transition: all .2s ease;
  width:0;
}
.navbar li a:hover::after {
  width: 100%;
}

@media screen and (min-width: 890px){
.navbar{
display: flex !important;
margin-left: 510px;
margin-top: -70px;
}
.navbar li{
flex: 1 1 auto;
text-align: center;
}
}
/* === フッター === */
footer{
background: #004F7C;
font-size: 0.9rem;
color: #fff;
}

.footer-container{
padding-top: 20px;
padding-bottom: 20px;
}

.footer-nav{
list-style-type: none;
font-size: 10px;
width: 80px;
}

.footer-nav a{
color: #fff;
text-decoration: none;
}

.footer-nav a:hover{
opacity: 0.5;
}

.footer-copyright{
font-size: 0.5px;
text-align: right;
color: #ffffff;
margin-right: 30px;
margin-top: 60px;
}

.hclogo-footer{
  width: 140px;
  margin : 0 auto;
  margin-top: -90px;
}

.hclogo-footer img{
  width: 140px;
  height: auto;
}

.icon{
	display: flex;
	flex-wrap:wrap;
  justify-content: flex-end;
  margin-top: -34px;
  margin-right: -11px;
}

.icon li {
	width: calc(70px/2);
	padding:0 5px;
	box-sizing:border-box;
  list-style: none;
  margin-right: 5%;
  margin-left: -5%;
}

.icon li img {
  max-width:70px;
	height: auto;
}

.icon li a {
  text-decoration: none;
}

@media screen and (min-width: 890px) {
.footer-nav{
  list-style-type: none;
  font-size: 11px;
  width: 360px;
  margin-top: 15px;
}

.footer-nav li{
  display: inline;
  padding: 0 1rem 0 0;
}

.hclogo-footer{
  width: 190px;
  margin : 0 auto;
  margin-top: -33px;
}

.hclogo-footer img{
  width: 190px;
  height: auto;
}

.icon{
  display: flex;
	flex-wrap:wrap;
  justify-content: flex-end;
  margin-top: -46px;
  margin-right: -21px;
}

.icon li {
	width: calc(100px/2);
	padding:0 5px;
	box-sizing:border-box;
  list-style: none;
  margin-right: 5%;
  margin-left: -5%;
}

.icon li img {
  max-width:100px;
  height: auto;
}

.icon li a {
  text-decoration: none;
}

.footer-copyright{
font-size: 6px;
text-align: right;
color: #ffffff;
margin-right: 30px;
margin-top: 10px;
}
}

/* === 見出し === */
.home-h3{
padding-bottom: 5px;
margin: 80px 0 10px 0;
color: #393939;
font-size: 2.2rem;
text-align: center;
}

/* === ホーム === */
.home-courseimg-area{
  display: block;
  padding: 20px 0;
  width: 60%;
  height: auto;
  margin: 0 auto;
}
.home-courseimg1 {
    max-width: 65%;
    margin: 0 auto;
}

.home-courseimg2 {
    max-width: 100%;
    margin: 0 auto;
}

.home-courseimg3 {
    max-width: 65%;
    margin: 0 auto;
}

.home-courseimg4 {
    max-width: 85%;
    margin: 0 auto;
}

@media screen and (min-width: 890px) {
.home-courseimg-area{
    display: flex;
    padding: 20px 0;
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.home-courseimg1 {
    min-width: 1%;
    margin: 0 auto;
}

.home-courseimg2 {
    min-width: 1%;
    margin: 0 auto;
}

.home-courseimg3 {
    min-width: 1%;
    margin: 0 auto;
}

.home-courseimg4 {
    min-width: 1%;
    margin: 0 auto;
}
}

/* === アクセス === */
#midashi-P{
  text-align: center;
  margin-top: -15px;
}

#access-P2{
text-align: left;
margin-left: 5%;
}

.map{
  width: 310px;
  margin : 0 auto;
}

.map img{
  margin-top: 25px;
  width: 310px;
  height: auto;
}

.Btn-area{
  width: 260px;
  margin : 0 auto;
}

.Btn{
  position: relative;
  margin-top: 50px;
  margin-bottom: 80px;
  display: block;
  width: 260px;
  height:10px;
  line-height:10px;
  padding: 20px 0;
  text-align: center;
  color: #ffffff;
  background-color: #ffa07a;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
}
.Btn-Icon{
  position: absolute;
  top: 50%;
  right: 30px;
  width: 25px;
  height: auto;
  transform: translateY(-50%);
}

@media screen and (min-width: 890px) {
.map{
  width: 450px;
  margin : 0 auto;
  }

.map img{
  margin-top: 25px;
  width: 450px;
  height: auto;
}
}
/* アクセスtwitter */
/* pc　890px以上 */
@media screen and (min-width: 890px) {
.access-ContentsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 200px 0 200px;
}
.access-twitterBox {
   width: 400;
   height: 330;
   margin: 0 auto;
}
}

/* 　ipad890px以下 */
@media screen and (max-width: 1024px) {
.access-ContentsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 200px 0 200px;
}
.access-twitterBox {
   width: 400;
   height: 330;
   margin: 0 auto;
}
}
/* スマホ　375px以下 */
@media screen and (max-width: 540px) {
.access-ContentsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}
.access-twitterBox {
   width: 400;
   height: 330;
   margin: 0 auto;
}
}
/* === /アクセス === */

/* 2段組みのレイアウト */
/* pc　890px以上 */
@media screen and (min-width: 890px) {
.topContentsBox {
  display:flex;
  max-width: 100%;
  margin: 10px 200px 0 200px;
  justify-content: space-between;
}

.topInfoBox {
  width: 400;
  height: 200;
  margin-bottom: 5%;
  margin-left: 150px;
}

.toptwitterBox {
   width: 400;
   height: 330;
   margin-right: 150px;
}
}

/* 　ipad890px以下 */
@media screen and (max-width: 890px) {
.topContentsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 200px 0 200px;
}

.topInfoBox {
  margin-bottom: 10px;
  }
}
/* スマホ　540px以下 */
@media screen and (max-width: 540px) {
.topContentsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

.topInfoBox {
  margin-bottom: 10px;
  }
}
.slide-img {
  width: 90%;
  height: auto;
}
